#!/bin/bash
#
# create cloud image and seed file
#

#config
HOSTNAME="$1"
IMAGESIZE="$2"
DOWNLOAD="$3"
DIST_VERSION="xenial"
DOMAIN="your.domain"
IMAGE_DIR="images"
SEED_DIR="static"
UPLOAD="no"
UPLOAD_SERVER="root@your.server.com"
LIBVIRT_IMAGE_DIR="/var/lib/libvirt/images"
DELETE_TEMP="yes"
TIME_ZONE="Europe/Berlin"
APT_MIRROR="https://de.archive.ubuntu.com/ubuntu/"
BASE_IMAGE_URL="https://cloud-images.ubuntu.com/${DIST_VERSION}/current/${DIST_VERSION}-server-cloudimg-amd64-disk1.img"
SSH_PUBLIC_KEY="your-ssh-puiblic-key"
INCLUDE_PUPPET="no"
PUPPET_IP="127.0.0.1"
USER_DATA="$(cat user-data.seed)"
